
.App{
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

/* home */ 

.home-container {
  width: 100%;
  justify-content: center;
  background-color: #f2f2f2;
}

.home-content {
  max-width: 1500px;
  margin: 0 auto;
  padding: 50px 0;
}

.home-footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}


/* header */

.logo-header {
  margin-left: 50px;
}


/* cards */

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  color: #666;
  line-height: 1.4;
}

.card-body {
  padding: 20px;
  font-weight:200;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 30%;
}


/* navbar */


.navbar {
  height: 80px;
  width:100%;
}

.navbar-brand {
  font-size: 2rem;
}

.navbar-nav {
  margin-right: 80%;
}

.nav-link {
  font-size: 1.2rem;
  margin-right: 20px;
  color: #fff;
}

.nav-link:hover {
  color: #f8f9fa;
}

.navbar-dark .navbar-toggler {
  border-color: transparent;
}


/* footer */

.footer {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.lista {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.li {
  margin: 0 10px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.fa-brands {
  color: #fff;
  transition: color 0.3s ease;
}

.fa-brands:hover {
  color: #f8f9fa;
}


/* FAQ */

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
  margin-bottom: 10px;
  
  }
  
.active, .accordion:hover {
  background-color: #ccc;
  }
  
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease;
  }
  
.active + .content {
  max-height: 500px;
  }

.accordion h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    }
     
.home-faq {
  max-width: 850px;
  width: 100%;
  margin-left: 350px;
  }

.faq-title {
  margin-left: 40%;
}

.faq-container {
    width: 100%;
    justify-content: center;
    background-color: #f2f2f2;

  }
  
 .faq-header {
    margin: 0 auto;

  }
  
  .faq-footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }

  .faq-content{
    margin-bottom: 50px;
    padding: 50px 0;
  }

/*  carrossel */


.inner{
  display: flex;
  text-decoration: none;
}

.item{
  min-height: 250px; 
  min-width: 400px;
  padding: 14px;
  text-decoration: none;
  margin-bottom: 35px;
}


.item a {
  display: flex; 
  height: auto;
  text-decoration: none;
}

.item img{
  width: 100%;
  height: 90%;
  border-radius: 12px;
  pointer-events: none;
  margin-bottom: 5px;
  text-decoration: none;
}

.carrosel{
  cursor: grab;
  overflow: hidden;
  text-decoration: none;
}

.carrosel-content{
  width: 100%;
  max-width: 1500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-decoration: none;
}

.botao-playlist {
  background-color: #FD3F0E;
  border: none;
  border-radius: 40px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
  margin-left: 25%;
}

.botao-playlist:hover {
  background-color: #fff;
  color: #FD3F0E;
  cursor: pointer;
  border: 2px solid #FD3F0E;
}

/* playlist */


.item img {
  max-width: 400px;
  max-height: 500px;
}



/*  cadastro  */

.cadastro-container{
  width: 100%;
  justify-content: center;
  background-color: #f2f2f2;

}

.cadastro-content{
  padding: 50px 0;
}


.cadastro-header {
  margin: 0 auto;
   
}

.cadastro-footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.form-check-input {
  box-shadow: 0px 1.5px 8px rgb(0, 0, 0);
}

.form-check-label {
  font-weight:500;
}

.success-message {
  color: green;
}

.error-message {
  color: red;
}

.email-cadastro, .email-confirmacao, .username-cadastro, .password-cadastro, .styles-cadastro {
  color: #FD3F0E;
  font-weight: bold;
  font-size: large;
}

/* login */ 

.error-login{
  color: red;
  font-weight: bold;
}

.success-login {
  color: green;
  font-weight: bold;
}

.login-container{
  width: 100%;
  justify-content: center;
  background-color: #f2f2f2;

}

.card-custom {
  width: 500px; /* Largura personalizada */
  height: 400px; /* Altura personalizada */
}

.login-title {
  margin-left: 40%;
}


.login-header {
  margin: 0 auto; 
}

.login-footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.login-content{
  margin-bottom: 30px;
  margin-right: 200px;
  margin-left: 200px;
  padding: 50px 0;
}


.email-label {
  color: #FD3F0E;
  font-weight: bold;
  font-size: large;
}

.password-label {
  color: #FD3F0E;
  font-weight: bold;
  font-size: large;
}

.text-muted {
  font-size: x-small;
}

.user-logged {
  text-align: center;
  font-weight: bold;
  color: #FD3F0E;
}



/* perfil */

.btn-save{
  margin-left: 40%;
}

.cria-playlist-btn, .editar-perfil-btn {
  background-color: #FD3F0E;
  border: none;
  border-radius: 40px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.logout-btn{
  border: none;
  border-radius: 40px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.user-name {
  font-size: 25px;
  font-weight: 600 !important;
  color: black !important;
}

.Exibir-Playlists {
  position: absolute;
  left: 0;
  margin-left: 20px; 
  list-style-type: none;
}

.showInputs{
  position: absolute;
  right: 0;
  margin-right: 20px; 
}

.Nome-Playlist{
  display: block;
  margin-bottom: 5px;
}

.input-nome-plalist{
  display: block;
}

.busca{
  padding-left: 5px;
}

.cadastrar-playlist{
  padding: 10px 10px 1rem 10px;
  border: 1px solid;
  border-radius: 30px;
}

.resultado-pesquisa-p{
  margin-bottom: 0;
}

.resultado-pesquisa-button{
  padding-bottom: 1rem;
}

.not-perfil-container{
  width: 100%;
  justify-content: center;
}

.not-perfil-content {
  padding: 50px 0;
  margin-top: 50px;
  margin-bottom: 150px;
}


.not-perfil-header {
  margin: 0 auto;
}

.not-perfil {
  text-align: center;
}

/* editar playlist */

.nome-playlist {
  margin-bottom: 25px;
}

.add-musicas {
  margin-bottom: 25px;
}

.musicas-adc {
  margin-bottom: 25px;
}

.salvar {
  margin-left: 10px;
} 

.cancelar { 
  margin-left: 10px;
}

.editarplaylist-content {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}